.contador {
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: rgb(19, 99, 9);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 8px solid rgb(19, 99, 9);
    margin-bottom: 15px;
    transition: transform 0.3s ease, color 0.3s ease; 
  }
  
  .contador.animate {
    transform: scale(1.2); 
    color: rgb(255, 231, 122); 
  }
  
  @media (max-width: 768px) {
    .contador {
      min-width: 200px;
      height: 200px;
      font-size: 120px;
    }
  }
  
  @media (max-width: 480px) {
    .contador {
      min-width: 150px;
      height: 150px;
      font-size: 80px;
    }
  }
  