* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 18px;
  background-color: #ffffff;
}

h1 {
  max-width: 940px;
  font-size: 2.5em;
  padding-bottom: 50px;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
  color: #000; /* Color inicial del título (negro) */
  transition: color 0.3s ease; /* Transición para el cambio de color */
}

h1:hover {
  color: #ff0000; /* Color al pasar el mouse por encima (rojo) */
}

.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-principal {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
    padding-bottom: 30px;
  }
}
